<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FULL TEXT SEARCH</title>
</head>
<body>
<form name="test" method="post">
    <p><b>Введите строку для поиска:</b><br>
        <input type="text" name="text" size="40"><br></p>

    <p><b>Выберете логический оператор:</b><br></p>
    <p><input type="radio" name="operator" value="OR" checked>OR</p>
    <p><input type="radio"  name="operator" value="AND">AND</p>

        <p><b>Введите количество в результатов: </b><br>
        <select id="selectval" name="number_of_results">
            <option selected value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select><br></p>
        <input type="submit" value="Искать">
        <input type="reset" value="Очистить">

</form>
</body>
</html>